
h1{
	text-align: center;
	line-height: 100px;
	margin: 0;
	padding: 0;
}
h5{
	cursor: pointer;
	text-align: center;
	line-height: 50px;
	color: #ff6700;
	font-size: 20px;
}
.lg_sm_modal h5{
 	display: inline-block;
 	margin-right: 30px;
}
img{
	margin: 0 auto;
	display: block;
}
.container{
	border: 1px solid #333;
	margin: 20px auto;
}